:root {
	--color-primary: #5227a1;
	--color-secondary :gray;
	--color-background: white;
}

body {
    background-color: var(--color-background);
}

.wrapper {
	max-width: 960px;
    margin-left: 280px;
	padding-bottom: 50px;
}

h1 {
	display: inline-block;
	color: var(--color-background);
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.menu li.active {
	background: var(--color-primary);
	color: var(--color-background);
}

.menu a {
	color: var(--color-secondary);
}

aside {
	float: left;
	width: 250px;
}

.sidebar li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.sidebar li:first-child {
	border: none;
}

.sidebar li.active {
	color: var(--color-primary);
}

.sidebar a {
	color: #8f8f8f;
}

aside > h2 {
	background: var(--color-primary);
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: var(--color-background);
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

.content {
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    display: table;
  }

.footer {
    display: flex;
    justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
	background-color: transparent;
	margin: auto;
	height: 120px;
}

.footer p {
    display: flex;
	margin-left: 40px;
    justify-content: space-around;
    flex-direction: column-reverse;
}

.footer ul {
	display: flex;
	margin-right: 40px;
	align-items: center;
	list-style-type: none;
}

.footer ul li {
	margin: 5px;
}