body {
    display: grid;
    grid-template-areas:
      'header header content'
      'menu footer footer';
    grid-template-columns: 30vw auto 40vw;
    grid-template-rows: 60vh 40vh;
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: content;
  }
  
  aside {
    grid-area: menu;
  }
  
  footer {
    grid-area: footer;
  }
