:root {
  --color-1: #cfe796;
  --color-2: #dc58e51f;
  --color-3: #cfdab8;
  --color-4: #a7c59b;
  --color-5: #f4fde6;
}
* { /*css reset*/
  padding: 0;
}
@media (min-width: 120px) {
  body { 
    display: grid;
    grid-template-areas: 
      "nav"
      "header"
      "main"
      "footer";
    grid-gap: 10px;
    height: 100vh;
    margin: 0 10px 0 10px;
  }
  #pageHeader, #mainNav, #pageFooter {
    background-color: var(--color-3);
  }
  #pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainMain { 
    grid-area: main;      
  }
  #mainNav { 
    grid-area: nav; 
    margin-top: 10px;
  }
  .side {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .side li {
    margin: 0 2% 0 2%;
  }
  .side li a {
    text-decoration: none;
  }
  .chapters {
    padding-left: 10px;
    list-style-type: none;
  }
  .chapters li {
    margin-right: 2%;
    border: 1px solid var(--color-4);
    border-radius: 5px;
    padding: 10px 30px;
  }
  .chapters li a{
    text-decoration: none;
  }
  .chapters li:hover{
    background: var(--color-4);
  }
  main {
    display: grid;
    margin-top: 0;
    grid-template-columns: 100%;
    grid-gap: 10px;  
  }
  .wide {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  main section {
    border: 1px solid var(--color-4);
    border-radius: 5px;
    background-color: var(--color-3);
  }
  footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  footer ul * {
    margin: 0 0 2% 2%;
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  body { 
    display: grid;
    grid-template-areas: 
      "nav header"
      "nav main"
      "nav footer";
    grid-template-rows: 120px auto 50px;
    grid-template-columns: 120px auto;
    grid-gap: 10px;
  }
  #pageHeader, #mainNav, #pageFooter {
    background-color: var(--color-3);
  }
  #pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainMain { 
    grid-area: main;      
  }
  #mainNav { 
    grid-area: nav; 
    margin: 0;
  }
  nav {
    margin-left: 10px;
  }
  nav h1 {
    margin: 10px 0px 10px 0px;
  }
  .side {
    display: block;
  }
  .chapters{
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  .chapters li {
    margin-right: 2%;
    border: 1px solid var(--color-5);
    border-radius: 10px;
    padding: 10px 30px;
  }
  .chapters li a{
    text-decoration: none;
  }
  .chapters li:hover {
    background: var(--color-4);
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 10px;  
  }
  .wide {
    grid-row-start: 1;
    grid-row-end: 3;

  }
  main section {
    display: flex;
    padding: 10px;
    border: 1px solid var(--color-5);
    border-radius: 10px;
    background-color: var(--color-3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    display: flex;
    list-style-type: none;
  }
  footer ul * {
    margin-right: 2%;
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
}